section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #f8f8ff;
}

@mixin setup() {
    width: 100%;
    height: 100%;
}

.leftHalf {
    @include setup;
}

.rightHalf {
    @include setup;
    display: flex;
    align-items: flex-end;

    img {
        height: 86vh;
        margin-bottom: 10px;
        z-index: 4;
    }
}

.blueBackground {
    position: fixed;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background-color: lightblue;
}

.content-wrapper {
    width: 80%;
    margin: 30% auto;
    display: flex;
    flex-direction: column;
    text-align: center;

    h1 {
        font-size: 3.5rem;
        text-shadow: -6px -6px lightgrey;
    }
}

button {
    
    width: 180px;
    height: 50px;
    margin: 40px auto;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: .1s ease-in-out;
        
    &:active {
        transform: scale(0.9);
    }
}