.card {
    height: 700px;
    width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-image {
    height: 500px;
    width: 380px;
    object-fit: cover;
}

.card-desc {
    width: 370px;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25rem;
    margin: 10px 0 0;
}

.card-price {
    font-size: 1rem;
    margin: 10px;
}

.add-icon {
    height: 48px;
    width: 48px;
    align-self: flex-end;
    margin-top: -60px;
    cursor: pointer;
}